---
interface Props {
    ids: Record<string, string>;
    name: string
}

const {ids, name} = Astro.props;
---
<div class="navHash">
    <div class="sticky top-2 p-2 w-full bg-[#358d36] rounded-lg fle">
        <p class="text-white text-md font-semibold my-0.5">{name}:</p>
        <hr>
        <div class="text-black bg-white px-1.5 py-2 rounded-md mt-2">
            {
                Object.keys(ids).map((id) => (
                    <a href={`#${ids[id]}`} class={`${ids[id]}`}>{id}</a>
                ))
            }
        </div>
    </div>
</div>

<style>
    a {
        display: block;
        color: black;
        width: 100%;
        margin: 3px 0;
        padding: 5px 6px;
        border-bottom: 0.5px solid #cecece;      
        transition: font-weight 300ms ease-in-out, border-radius 300ms ease-in-out, color 300ms ease-in-out, background-color 300ms ease-in-out, border-bottom 300ms ease-in-out;
    }

    a:hover {
        color: #e59547;
        font-weight: 700;
        border-bottom: 0.5px solid #e59547;
    }

    a.view:hover {
        background-color: #e59547;
        border-bottom: 0px;
        color: #fff;
        border-radius: 6px;
    }

    .view {
        background-color: #e59547;
        border-bottom: 0px;
        color: #fff;
        border-radius: 6px;
    }
</style>

