---
import ItemBentto from "./ItemBentto.astro";

const {title} = Astro.props
---

<ItemBentto class={`${Astro.props.class} bg-[#358d36] rounded-lg text-white text-pretty pb-12`}>
    <img class="w-16 mx-auto" src="/Icono.png" alt="Logo del Itap">
    <h2 class="text-3xl text-center text-wrap tracking-wide font-semibold my-3 max-w-lg m-auto">{title}</h2>
    <slot/>
</ItemBentto>


