<section class={`container max-w-7xl mx-auto px-4 py-4 ${Astro.props.class}`}>
	<slot />
</section>

<style>
	section {
		view-timeline-name: --section;
		view-timeline-axis: block;

		animation-timeline: --section;
		animation-name: animateShow;

		animation-range: entry 5% cover 20%;
		animation-fill-mode: both;
		animation-timing-function: ease-in-out;
	}

	.ViewHash {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 10px;
    }

	@media screen and (max-width: 800px) {
		.ViewHash {
			grid-template-columns: 1fr;
		}

		section {
			animation-range: entry 4% cover 15%;
		}
	}
</style>
