---
interface Props {
    title: string
    center?: boolean
}

const {title, center = true} = Astro.props
---
<h2 class={`font-bold text-2xl ${center ? 'text-center md:text-left' : 'text-left'}`}>
    {title}
</h2>