<div class="item border rounded-md">
    <div class="itemHeader rounded-md text-white bg-[#e59547]">
        <img class="rounded-md h-28 w-28" src="https://th.bing.com/th/id/R.8cde1f482df5d4b18e87533265e64763?rik=2E9GMMKAQyzmUQ&pid=ImgRaw&r=0" alt="">
        <div class="px-0.5">
            <span class="font-extralight text-sm w-full text-center block">Promoción</span>
            <h5 class="text-center font-semibold text-lg">2018</h5>
        </div>
    </div>
    <div class="itemContent w-full px-2 max-h-min my-auto">
        <h3 class="itemName font-semibold text-lg">Carla Maria Saltamon</h3>
        <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aliquid, tempore hic libero commodi quibusdam corrupti cum vero neque aliquam possimus sit eius, porro ea eum nihil, eligendi delectus sed! </p>
    </div>
</div>

<style>
    .item {
        display: grid;
        grid-template-columns: 3fr 6fr;
        grid-template-rows: 1fr;
    }

    .itemHeader {
        max-height: 210px;
        margin: auto
    }

    p {
        text-align: left;
		line-height: 1.4;
		font-weight: 100;
		letter-spacing: 0.5px;
    }

</style>