<div class="item border rounded-md px-3 py-3">
    <div class="">
        <p class="text-sm [&>b]:text-lg [&>b]:text-gray-500"><b>“</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aliquid, tempore hic libero commodi quibusdam corrupti cum vero neque aliquam possimus sit eius, porro ea eum nihil, eligendi delectus sed! <b>”</b></p>
    </div>
    <div class="flex flex-row gap-1 mt-2">
        <img class="rounded-full w-12 h-12" src="https://th.bing.com/th/id/R.8cde1f482df5d4b18e87533265e64763?rik=2E9GMMKAQyzmUQ&pid=ImgRaw&r=0" alt="" />
        <div class="px-0.5 my-auto">
            <h3 class="itemName font-semibold">Carla Maria Saltamon</h3>
            <h5 class=" font-light text-xs">2018</h5>
        </div>
    </div>
</div>
<style>
    p { 
        padding: 0 2px;
        letter-spacing: 0.5px;
    }
</style>