---
import TitleSection from "../../components/TitleSection.astro";
import BottonDespla from "../bottons/BottonDespla.astro";
---
<article class="bg-white border rounded-lg p-[10px]">
    <header class="flex">
        <div class="flex-1">
            <TitleSection title="Reseñas:" />
            <p class="text-gray-500">Egresados</p>
        </div>
        <div class="flex items-center">
            <BottonDespla title="Mover a la Izq."/>
            <BottonDespla direction="right" title="Mover a la Der."/>
        </div>
    </header>
    <div class="py-3 px-[10px]">
        <slot />
    </div>
</article>