---
import TitleSection from "../TitleSection.astro";
import BottonDespla from "../bottons/BottonDespla.astro";
---

<article class="bg-white border rounded-lg p-[10px]">
    <header class="flex">
        <div class="flex-1">
            <TitleSection center={false} title="Reseñas:" />
            <p class="text-gray-500">Egresados</p>
        </div>
        <div class="flex items-center">
            <BottonDespla title="Mover a la Izq." />
            <BottonDespla direction="right" title="Mover a la Der." />
        </div>
    </header>
    <div class="scroller rounded-md mt-2 pe-1">
        <slot />
    </div>
</article>
<script>
    const gap = 16;
    const bottons = document.querySelectorAll(".BottonDespla");
    const carousel = document.querySelector(".scroller");
    const itemReferent = document.querySelector(".item");

    const widthItem = itemReferent.clientWidth + gap;

    bottons.forEach((btn) => {
        const isClass = btn.classList.contains("rotate-180");
        const width = widthItem * 2;

        btn.addEventListener("click", () => {
            if (isClass) {
                carousel.scrollBy(widthItem, 0);

                if (
                    carousel.scrollWidth - width <=
                    carousel.scrollLeft + width
                ) {
                    carousel.scrollLeft = 0;
                }
            } else {
                carousel.scrollLeft = carousel.scrollWidth - widthItem;

                if (!(widthItem >= carousel.scrollLeft + widthItem)) {
                    carousel.scrollBy(-widthItem, 0);
                }
            }
        });
    });
</script>
<style>
    .scroller {
        display: grid;
        grid-gap: 16px;
        grid-auto-columns: 380px;
        grid-template-rows: 255px;
        grid-auto-flow: column;
        box-sizing: border-box;
        overflow-x: hidden;

        scroll-behavior: smooth;
        scrollbar-width: none;
    }
</style>
