---
import TitleSection from "../../components/TitleSection.astro";
import BottonDespla from "../bottons/BottonDespla.astro";
---
<article class="bg-white border rounded-lg p-[10px]">
    <header class="flex">
        <div class="flex-1">
            <TitleSection center={false} title="Reseñas:" />
            <p class="text-gray-500 ">Egresados</p>
        </div>
        <div class="flex items-center">
            <BottonDespla title="Mover a la Izq."/>
            <BottonDespla direction="right" title="Mover a la Der."/>
        </div>
    </header>
    <div class="scroller rounded-md mt-2 pe-1">
        <slot />
    </div>
</article>
<style>
    .scroller {
		display: grid;
		grid-gap: 16px;
        grid-auto-columns: 380px;
        grid-template-rows: 255px;
		grid-auto-flow: column;
		box-sizing: border-box;
        overflow-x: hidden;
	}
</style>