---
import Banner from "../../../components/Banner.astro";
import Layout from "../../../layouts/Layout.astro";
import ViewHash from "../../../components/hash/ViewHash.astro";
import NavHash from "../../../components/hash/NavHash.astro";
import ArticleHash from "../../../components/hash/ArticleHash.astro";
---

<Layout
    title="Símbolos Institucionales"
    optActive="Símbolos"
    textLabelTop="Conoce aquellos simbolos institucionales que transmiten nuestra identidad 🏫"
>
    <Banner
        title="Símbolos Institucionales"
        description="Cada símbolo de nuestra institución muestra nuestra alegría por saber y la diversidad de personas que educámos"
        url1="/imagenes/Sede-1.jpg"
        url2="/imagenes/juntos.jpg"
        url3="/imagenes/Sede-2.jpg"
    />
    <ViewHash>
        <NavHash slot="nav">
            <a href="#BanderaITAP">Bandera</a>
            <a href="">Bandera</a>
            <a href="">Bandera</a>
            <a href="">Bandera</a>
        </NavHash>
        <div slot="content" class="text-black">
            <ArticleHash id="BanderaITAP" title="Bandera Instituacional" description="Creada en 1987 por juan de lopez ardela buscando mostrar que somos una institucion propia de calidad" class="">
                <p>La bandera del Instituto Técnico Aquileo Parra se describe de la siguiente manera:

                    Colores y Significado: La bandera está compuesta por tres franjas horizontales de igual tamaño, con los colores verde, blanco y amarillo.
                    Verde: Este color simboliza la naturaleza, la esperanza y el progreso. Representa la vida, la ecología y el desarrollo, así como la esperanza y el verde de los campos1.
                    Blanco: El blanco representa la claridad, la luz, la transparencia y la inocencia2. Es el color de la integridad y la neutralidad, y simboliza la integralidad del proceso educativo3.
                    Amarillo: El amarillo es el color de la luz del sol, la alegría, la inteligencia y la energía4. Representa la felicidad, el honor y la lealtad, así como la tierra de Barichara.
                    En el centro de la franja blanca se ubica el logotipo de la institución, que refuerza la identidad y los valores del Instituto Técnico Aquileo Parra5. La bandera, en su conjunto, refleja los ideales y la filosofía de la institución educativa.
                </p>
            </ArticleHash>
        </div>
    </ViewHash>
</Layout>