---
import Banner from "../../../components/Banner.astro";
import Layout from "../../../layouts/Layout.astro";
import ViewHash from "../../../components/hash/ViewHash.astro";
import NavHash from "../../../components/hash/NavHash.astro";
---

<Layout
    title="Símbolos Institucionales"
    optActive="Símbolos"
    textLabelTop="Conoce aquellos simbolos institucionales que transmiten nuestra identidad 🏫"
>
    <Banner
        title="Símbolos Institucionales"
        description="Cada símbolo de nuestra institución muestra nuestra alegría por saber y la diversidad de personas que educámos"
        url1="/imagenes/Sede-1.jpg"
        url2="/imagenes/juntos.jpg"
        url3="/imagenes/Sede-2.jpg"
    />
    <ViewHash>
        <NavHash slot="nav">
            <a href="#BanderaITAP">Bandera</a>
            <a href="">Bandera</a>
            <a href="">Bandera</a>
            <a href="">Bandera</a>
        </NavHash>
        <div slot="content" class="text-black">
            <h1>Hola gente</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>

            <p id="BanderaITAP" class="font-semibold">
                prueba principal donde mi idea es ver si esta forma de distribucion de informacion seria mas agil y con menos necesidad de dividirla en pestañas.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti earum hic dolor maiores voluptatum at magnam reiciendis
                optio vero tenetur maxime ipsa eveniet soluta corrupti quaerat,
                adipisci quis delectus tempora. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Est minima itaque sed doloremque
                illo sapiente quas quibusdam facere, odio exercitationem quaerat
                in, et non sit necessitatibus quidem aperiam quos! Ea.
            </p>
        </div>
    </ViewHash>
</Layout>