---
interface Props {
    title?: string;
    direction?: string;
}

const { direction = "", title } = Astro.props;

// diccionario de rotacion
const keyRotate = {
    right: "rotate-180",
};

let valorDirection = "";

if (direction.length > 3) {
    valorDirection = keyRotate[direction];
}
---

<button
    class={`BottonDespla ${valorDirection} p-3 bg-[#358d36] text-white rounded-full border mx-0.5 my-auto cursor-pointer`}
    title={`${title}`}
>
    <svg
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-left-fill"
        viewBox="0 0 16 16"
    >
        <path
            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
        ></path>
    </svg>
</button>

<style>
    button:hover > svg {
        animation: moveFlow 0.45s both infinite;
    }

    @keyframes moveFlow {
        0% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(-2px);
        }
        100% {
            transform: translateX(0px);
        }
    }
</style>

<script>
    const gap = 16;

    const bottons = document.querySelectorAll(".BottonDespla");
    const carousel = document.querySelector(".scroller");
    const itemReferent = document.querySelector(".item");

    const widthItem = itemReferent.clientWidth + gap;

    bottons.forEach((btn) => {
        const isClass = btn.classList.contains("rotate-180");

        btn.addEventListener("click", () => {
            if (isClass) {
                if (!(carousel.scrollWidth - widthItem*2 <= carousel.scrollLeft)) {
                    carousel.scrollBy(widthItem, 0);
                } else {
                    carousel.scrollLeft = 0;
                }
            } else {
                if (!(widthItem >= carousel.scrollLeft + widthItem)) {
                    carousel.scrollLeft = carousel.scrollWidth - widthItem;
                } else {
                    carousel.scrollBy(-widthItem, 0);
                }
            }
        });
    });
</script>
